/sdk/
/avd/
/.android/
/aosp/
/launcher/.gradle/
/launcher/build/
/launcher/local.properties
/apps/*/.gradle/
/apps/*/build/
/apps/*/local.properties
/shell/.gradle/
/shell/build/
/shell/local.properties
/analytics.settings
*.apk
*.ap_
